*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background: #e9eaed;
    font-family: 微软雅黑;
    font-size: 16px;
}
a{
    text-decoration: none;
    margin-right: 38px;
    line-height: 60px;;
    color: #ffffff;
}
img{
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    height: 55px;
    background: #1c2327;
}
.headerBox{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.headerBox h1{
    height: 100%;
    float: left;
    margin-right: 82px;
    font-weight: normal;
    color: #ffffff;

}
.headerBox .nav{
    height: 100%;
    float: left;
}
.nav li{
    height: 100%;
    float: left;
}
.nav li a:hover{
    color: #00c1de;
}
.headerBox .search{
    width: 60px;
    height: 100%;
    background: #ffffff;
    float: right;
}
/*header*/
.banner{
    width:1200px ;
    height: 280px;
    margin: 20px auto;
    border-radius: 5px;
}
.banner .bannerLeft{
    width: 620px;
    height: 100%;
    margin-right: 12px;
    float: left;
    position: relative;
}
.bannerLeft li{
    width: 100%;
    height: 100%;
}
.bannerLeft li a{
    width: 100%;
    height: 100%;
    display: block;
}
.btnLeft , .btnRight{
    width: 40px;
    height: 32px;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    coursor:pointer;
    background: black;
}
.btnRight{
    right:50px;
}
.btnLeft{
    left: 50px;
}
.btnList{
    width: 100%;
    height: 26px;
    position: absolute;
    line-height: 40px;
    bottom: 5px;
    text-align: center;
    z-index: 4;
}
.btnList li{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: 0 7px;
    background: white;
    cursor: pointer;
    text-indent: -9999px;
}
.banner .bannerMid{
    height: 100%;
    margin-right: 16px;
    float: left;
    position: relative;
}
.bannerMid li {
    width: 268px;
    height: 125px;
    background: #ffffff;
    margin-bottom: 10px;
}
.bannerMid li a{
    width: 100%;
    height: 125px;
    display: block;
    position: absolute;
    overflow: hidden;
}
.bannerMid  li a:hover img{
    transform: scale(1.2,1.2);
}
.bannerMid li a img{
    trandition:transform .2s liner;
}
.bannerMid li p{
    width: 80%;
    height: 48px;
    font-size: 16px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    overflow: hidden;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    top: -110px;
    bottom: 0;
    margin:auto ;
}
.banner .bannerRight{
    width: 284px;
    height: 100%;
    background: black;
    float: right;
}
.bannerRight h1{
    color: #e9eaed;
    margin: 10px 10px;
    font-size: 20px;
    font-weight: normal;
}
.bannerRight p{
    color: #e9eaed;
    font-size: 14px;
    margin:20px;
}
.bannerRight .bannerList{
    width: 100%;
    height: 50px;
}
.bannerList li{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    background: #e9eaed;
    margin-left: 13px;
}
/*banner*/
.diary{
    width: 1200px;
    height: 310px;
    margin: 0 auto 20px;
}
.diary .diaryLeft{
    width: 860px;
    height: 270px;
    background: #ffffff;
    float: left;
    border-radius: 5px;
    padding: 20px;
}
.diaryList {
    border-bottom: 1px solid #e4e3e3;
    overflow: hidden;
}
.diaryList li{
    height: 42px;
    line-height: 42px;
    float: left;
}
.diaryList li a{
    color: #333333;
}
.diaryTab{
    width: 100%;
    height: 220px;
    margin-top: 10px;

}
.tabImage{
    width:275px ;
    height: 100%;
    float: left;
}
.tabImage li{
    height: 100px;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}
.tabImage  li a:hover img{
    transform: scale(1.2,1.2);
}
.tabImage a p{
    width: 80%;
    height: 48px;/*16*1.5*/
    font-size: 16px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    overflow: hidden;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    top: -110px;
    bottom: 0;
    margin:auto ;
}
.tabList{
    width:565px ;
    height: 100%;
    float: right;
}
.tabList li{
    height: 34px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    padding-left: 34px;
    line-height: 34px;
}
.tabList >li::before{
    content: "1";
    width: 16px;
    height: 16px;
    background: #b1b1b1;
    display: block;
    position: absolute;
    top: 12px;
    left: 10px;
    text-align: center;
    line-height: 16px;
}
.tabList >li:nth-child(2)::before{
    content: "2";
}
.tabList >li:nth-child(3)::before{
    content: "3";
}
.tabList >li:nth-child(4)::before{
    content: "4";
}
.tabList >li:nth-child(5)::before{
    content: "5";
}
.slide{
    width: 244px;
    background: #ffffff;
    float: right;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
.title{
    height: 41px;
    border-bottom: 1px solid #e4e3e3;
    line-height: 41px;
    color: #333333;
    font-size: 16px;
    overflow: hidden;
    position: relative;

}
.title::before{
    content:" ";
    width: 60px;
    height: 2px;
    position: absolute;
    left: 0;
    top: 40px;
    background: #333333;
}
.update{
    padding-top: 16px;
    padding-bottom: 12px;
    position: relative;
}
.updateList li{
    height: 38px;
    margin-top: 12px;
    background: #e9eaed;
    border-radius: 5px;
    padding: 0 20px 0 34px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 38px;
    font-size: 14px;
}
.updateList>li::before{
    content: " ";
    width: 4px;
    height: 4px;
    background: #333333;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 17px;
    left: 15px;
}
/*diary*/
.main{
    width: 1200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.mainLeft{
    width: 900px;
    height: auto;
    min-height: 600px;
    float: left;
}
.recommend{
    background: #ffffff;
    height: 658px;
    padding: 20px;
    border-radius: 5px;
}
.recommend .recommendTitle{
    float: right;
}
.recommendTitle li{
    float: left;
    margin-right: 15px;
}
.recommend .recommendList{
    height: 576px;
    margin: 10px 10px;
    float: left;
}
.recommendList li{
    width: 259px;
    height: 267px;
    float: left;
    border-right:1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
.recommendList .recommendThumb{
    display: block;
    padding: 10px;
}
.recommendList >li >a >img{
    height: 100px;
}
.recommendList >li >h2{
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.recommendList >li >p{
    height: 63px;
    margin: 15px 15px 0 15px ;
    color: #999999;
    font-size: 14px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:3;
    overflow: hidden;
}
.recommendRead::before{
    content: '+';
}
.recommendList .recommendRead{
    /*margin-top: 10px;*/
    font-size: 16px;
    color: #009966;
}
.recommendList >li:nth-child(3n){
    border-right: none;
}
.recommendList >li:nth-last-child(1){
    border-bottom: none;
}
.recommendList >li:nth-last-child(2){
    border-bottom: none;
}
.recommendList >li:nth-last-child(3){
     border-bottom: none;
 }
/*recommend*/
.mainMid{
    width: 900px;
    height: 170px;
    background: white;
    margin-top: 20px;
    float: left;
    border-radius: 5px;
}
.mainMid a{
    width: 860px ;
    height: 130px;
    padding: 20px 20px;
    display: block;
}
.mainLeft .whiteblog{
    height: auto;
    margin-top:20px ;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    float: left;
}
.blogList li{
    height: 225px;
    margin-top: 10px;
    float: left;
    padding-bottom: 20px;
    border-bottom: 1px dashed #eeeeee;
}
.whiteblog .blogBox{
    height: 165px;
}
.blogList li h2{
    font-size: 16px;
    color: #333333;
    text-decoration: none;
}
.bolgBox li h2 b{
    color: red;
    float: left;
}
.bolgBox li h2 p{
    float: right;
}
.blogBox .blogContent{
    height: 125px;
    margin-top: 15px;
}
.blogContent a{
    width: 200px;
    height: 125px;
    float: left;
}
.blogContent p{
    margin: 15px 0;
    color: #999999;
    font-size: 14px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:3;
    overflow: hidden;
}
.blogDate .xinde{
     width: 76px;
     margin: 0 20px;
     float: left;
 }
.blogContent .yuedu{
    width: 80px;
    margin: 0 20px;
    float:right;
}
.mainRight{
    width: 284px;
    height: auto;
    background: #e9eaed;
    float: right;
}
.paihang{
    margin-top: 20px;
    position: relative;
}
.paihang a{
    width: 100%;
    height: 125px;
    margin-bottom: 20px;
    display: block;
    position: relative;
    overflow: hidden;
}
.paihang a:hover img{
    transform: scale(1.2,1.2);
}
.paihang a p{
    width: 80%;
    height: 48px;
    font-size: 16px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    overflow: hidden;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    top: -110px;
    bottom: 0;
    margin:auto ;
}
.paihangList li{
    height: 38px;
    background: #e9eaed;
    border-radius: 5px;
    padding: 0 20px 0 34px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 38px;
    font-size: 14px;
    margin-bottom:5px;
}
.paihangList >li::before{
    content: "1";
    width: 16px;
    height: 16px;
    background: #b1b1b1;
    display: block;
    position: absolute;
    top: 12px;
    left: 10px;
    text-align: center;
    line-height: 16px;
}
.paihangList >li:first-child::before{
    background: #ff6600;
}
.paihangList >li:nth-child(2)::before{
    content: "2";
    background: #ff6600;
}
.paihangList >li:nth-child(3)::before{
    content: "3";
    background: #ff6600;
}
.paihangList >li:nth-child(4)::before{
    content: "4";
}
.paihangList >li:nth-child(5)::before{
    content: "5";
}
.paihangList >li:nth-child(6)::before{
    content: "6";
}
.paihangList >li:nth-child(7)::before{
    content: "7";
}
.paihangList >li:nth-child(8)::before{
    content: "8";
}
.tuijian{
    margin-top: 20px;
    position: relative;
}
.tuijian a{
    width: 100%;
    height: 125px;
    margin-bottom: 10px;
    display: block;
    position: relative;
    overflow: hidden;
}
.tuijian a p{
    width: 80%;
    height: 48px;
    font-size: 16px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    overflow: hidden;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    top: -110px;
    bottom: 0;
    margin:auto ;
}
.tuijian a:hover img{
    transform: scale(1.2,1.2);
}
.tuijianList li{
    width: 244px;
    margin-bottom: 10px;
    overflow: hidden;
}
.tuijianList li a{
    height: 70px;
    width: 70px;
    float: left;
    margin-right: 10px;
}
.tuijianList li p{
    width: 160px;
    height: 100%;
    float: right;
    display: block;
    overflow: hidden;
    margin: 15px 0;
    color: black;
    font-size: 14px;
    line-height: 1.5;
    -webkit-box-orient: vertical;
}
.mainRight .picture1{
    width: 100%;
    height: auto;
    background: white;
}
.picture1 a{
    line-height: 0;
}
.picture1 img{
    width: 244px;
    height: 193px;
}
.like{
    padding-top: 16px;
    padding-bottom: 12px;
    position: relative;
}
.likeList li{
    height: 38px;
    margin-bottom: 12px;
    /*background: #e9eaed;*/
    padding: 0 20px 0 34px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}
.likeList>li::before{
    content: " ";
    width: 4px;
    height: 4px;
    background: #333333;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 17px;
    left: 15px;
}
.likeList li a{
    color: black;
    line-height: 38px;
}
.message{
    padding-top: 16px;
    padding-bottom: 12px;
    position: relative;
}
.messagelist{

}
.message a{
    width: 194px;
    height: 194px;
}
.mainRight .picture2{
    width: 100%;
    height: auto;
    background: white;
}
.picture2 a{
    line-height: 0;
}
.picture2 img{
    width: 244px;
    height: 193px;
}